@font-face {
  font-family: 'OpenSansCondensed-Light';
  font-style: normal;
  font-weight: 200;
  src: local('OpenSansCondensed-Light'), local('OpenSansCondensed-Light'), url(../font/OpenSansCondensed-Light.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
    font-family: 'Raleway-Thin';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway-Thin'), local('Raleway-Thin'), url(../font/Raleway-Thin.ttf);
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
  }
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../font/Lato-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
  font-family: 'OpenSansCondensed-Light';
  font-style: normal;
  font-weight: 300;
  src: local('Lato Light'), local('Lato-Light'), url(../font/Lato-Light.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body{
    width: 100%;
    height: 100%;
    font-family: 'OpenSansCondensed-Light'; 
    /* all paragraghs */
    padding: 0px;
    margin: 0px;
    overflow-x: hidden;
    /* background-image: url(../images/bg.jpg); */
    /* background-color: rgba(0, 0, 0, 0.74); */
    /* background-color: rgb(59, 199, 218); */
    /* background-color: rgb(31, 39, 50); */
    background-color: rgb(10, 18, 37);
    /* background-color: rgb(59, 199, 218); */
    /* main */
    
    /* background-blend-mode: soft-light; */
    /* background-repeat: no-repeat; */
    /* background-position: top; */
    /* background-size: cover; */
    color: white;
}
#mainNav{
    border-bottom-color: black;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: rgb(10, 18, 37);
    margin-bottom: 0;
    /* position: relative; */
}
#mainNav a{
   color: white;
   transition: 0.3s ease-in;
}
.active a{
    color: rgb(59, 199, 218) !important;
}
#mainNav ul li a:hover{
    /* background-color:  rgba(216, 215, 247, 0.87); */
    color: rgb(59, 199, 218);
    transition: 0.4s ease-out;
}
#logo{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

/* #design_Container{
    height: 1500px;
    background-color: rgb(10, 18, 37); */
    /* position: relative;
    * the half darkblue div in the background
    */
/* } */
/* this div contains the  body details */
#flo{
    /* background-color: red; */
    /* margin-top: -1500px; */
    /* the margintop is used to drag this container div close to the nav  */
}
span{
    color: rgb(59, 199, 218);
}
.row{
    /* border: 1px solid rgba(59, 199, 218, 0.335); */
    /* height: 500px; */
    margin-top: 0px;
    background-color: rgb(10, 18, 37);
    border-radius: 5px;
    /* box-shadow: 2px 2px 5px rgba(59, 199, 218, 0.335); */
    padding: 20px;
    
    
}
h1{
    font-family: 'Lato';
    font-size: 60px;
}
h2{
    font-size: 34px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Lato';
}
p{
    font-size: 17px;
}

#hello{
    margin-top: 150px;
    font-size: 68px;
    font-weight: bolder;
}
#selfmade{
    /* font-size: 50px; */
    font-family: 'Raleway-Thin';
} 

#carousel-indicators {
    background-color: rgb(5, 5, 61);
}
#slider{
    /* border: 1px solid rgb(207, 177, 3); */
    padding: 10px;
    box-shadow: 0px 0px 5px rgba(10, 18, 37, 0.52);
}
#expenditure, #hp{
    /* background-color: rgb(224, 220, 220); */
    /* background-color:  rgba(59, 199, 218, 0.171); */
    background-color: rgba(10, 18, 37, 0.075);
    border-radius: 10px;
    /* border: 1px solid rgb(10, 18, 37); */
    /* box-shadow: 0px 0px 5px rgb(10, 18, 37); */
   height: 470px;
   margin-bottom: 50px;
}
i{
    font-size: 15px;
    /* color: red; */
    /* color: rgb(137, 137, 167); */
    color: rgb(207, 177, 3);
}
#tools{
    font-weight: bolder;
}
#gitButton{
   background-color: rgb(5, 5, 61);
   height: 40px;
   border: none;
   border-radius: 5px;
   color: white;
   transition: 1s ease-in;
   bottom: 10px;
   position: absolute;
   /* postion absolute and bottom 10px places the buttom at the buttom of the div */
}

button:hover{
    color: rgb(59, 199, 218);
    transition: 3s ease-out;
}
#aboutMe, #services{
    margin-top: 10px;
    height: 100%;
    background-color: white;
    /* color: rgb(10, 18, 37); */
    color: black;

}
#FeaturedProjects{
    text-align: center;
    margin-bottom: 20px;
    border-left: 7px solid rgb(207, 177, 3);
}
#aboutMe{
    height: 550px;
}
#aboutMe h1{
    /* text-align: center; */
    font-weight: bolder;
}
#aboutMe p{
    font-size: 20px;
}




@media screen and (min-width:1200px)
{
    /* on big screens */
    .row{
        height: 550px;
    }
    
}
/* increases the height of the div in the carousel */
@media screen and (max-width: 974px)
{
    /* on big screens */
    #expenditure, #hp{
        height: 570px;
    }
    
}